.home-page {
    background-image: url("../../images/plane.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.menu {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}